<div class="d-flex justify-content-center my-5 min-vh-100">
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <span class="text-danger" style="font-weight: 700;">
                    <%= company.companyName %>
                </span>
                    Conducted an Interview on 
                    <span class="text-primary" style="font-weight: 700;">
                    <%= helper.convert(company.doi) %>
                    </span>
                    the alloted students are
            </div>
            <form action="/posts/store-result/<%= company._id %>" method="post">
                <ul class="list-group p-2">
                    <% company.result.forEach((std)=>{ %>
                        <li class="list-group-item list-group-item-dark" id="student-list-item-<%= std._id %>">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" name="id" value="<%= std.student._id %>" class="custom-control-input" id="check5">
                                <label class="custom-control-label" for="check5">
                                    <%= std.student.studentName %>
                                </label>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <div class="d-flex justify-content-center align-items-center my-3">
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </div>
                
            </form>
            
            
        </div>
    </div>
</div>
<script src="/js/result.js"></script>